<footer class="container-fluid bg-grey py-5">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 ">
                   <div class="logo-part">
                      <img src="../../../assets/images/logo.png" class="w-50 logo-footer" >
                      <p>El líder en el mercado de las cerraduras inteligentes</p>
                      <p>Av. Lopez Mateos Nte. 75 Midtown 24th</p>
                   </div>
                </div>
                <div class="col-md-6 px-4">
                   <h4> About Company</h4>
                   <p>But horizontal lines can only be a full pixel high.</p>
                   <a href="#" class="btn-footer"> More Info </a><br>
                   <a href="#" class="btn-footer"> Contact Us</a>
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 px-4">
                   <h4> Help us</h4>
                   <div class="row ">
                      <div class="col-md-6">
                         <ul>
                            <li> <a href="#"> Home</a> </li>
                            <li> <a href="#"> About</a> </li>
                            <li> <a href="#"> Service</a> </li>
                            <li> <a href="#"> Team</a> </li>
                            <li> <a href="#"> Help</a> </li>
                            <li> <a href="#"> Contact</a> </li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    </footer>