<nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container d-flex justify-content-between align-items-center">
      <a class="navbar-brand text-success logo h1 align-self-center" routerLink="/"><img src="../../../assets/images/logo.png" width="300"></a>
      <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
          <div class="flex-fill">
              <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/">Inicio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/productos">Productos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="contacto">Contacto</a> 
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="nosotros">Nosotros</a> 
                  </li>

              </ul>
          </div>
      </div>
  </div>
</nav>