    <section class="nosotros">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1"><b>Acerca de nosotros</b></h1>
                    <p>
                        Nosotros Cerradura inteligente HIONE+, nos complace dirigirnos a usted para saludarle cordialmente, al mismo tiempo le presentamos a HIONE+. 
                        Es una empresa originaria de Corea del Sur establecida desde el año 2004 que cuenta con más de 20 años de experiencia en el mercado de cerraduras inteligentes. 
                        Nuestra finalidad es ofrecer seguridad a nuestros clientes, así como un excelente servicio desde la instalación del producto.
                    </p>
                </div>
            </div>
    
                <div class="container py-5">
                    <div class="row text-center py-3">
                        <div class="col-lg-6 m-auto">
                            <h1 class="h1"><b>Misión</b></h1>
                            <p>
                                Integrar el uso de cerradura inteligente de HIONE+ en la vida de nuestros clientes a través
                                de soluciones innovadoras que ofrezcan seguridad.
                            </p>
                        </div>
                    </div>
    
                    <div class="container py-5">
                        <div class="row text-center py-3">
                            <div class="col-lg-6 m-auto">
                                <h1 class="h1"><b>Visión</b></h1>
                                <p>
                                    Crear e innovar en el desarrollo de cerradura inteligente para mejorar la seguridad
                                    de espacios residenciales y comerciales a través de un diseño elegante y funcional.
                                </p><br>
                                <p>Agradecemos a todos por su amor hacia nuestro producto. Seguiremos escuchando a nuestros clientes para mejorar nuestro servicio.</p><br>
                                <p>Gracias.</p>
                                <br>
                                <p>HIONE+ Mexico</p>
                            </div>
                        </div>

   