<div id="carousel-banner" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carousel-banner" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carousel-banner" data-bs-slide-to="1"></li>
        <li data-bs-target="#carousel-banner" data-bs-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="banner-image" src="../../../assets/images/5.png" width = "450" alt="hione+ cerradura inteligente pushpull">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success">HIONE+ <b>PUSH&PULL</b></h1>
                            <h3 class="h2">Nueva manera de abrir tu puerta.</h3>
                            <p>
                            Si buscas una cerradura inteligente con la manija PUSHPULL
                            Si buscas una cerradura inteligente con la manija PUSHPULL
                            Si buscas una cerradura inteligente con la manija PUSHPULL
                            Si buscas una cerradura inteligente con la manija PUSHPULL
                            </p>     
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="banner-image" src="../../../assets/images/8.png" width = "450" alt="hione+ cerradura inteligente principal">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1 text-success">HIONE+ <b>PRINCIPAL</b></h1>
                            <h3 class="h2">Ahora tu eres la llave, ingresa con tu huella.</h3>
                            <p>
                                Si buscas una cerradura inteligente con la manija PUSHPULL
                                Si buscas una cerradura inteligente con la manija PUSHPULL
                                Si buscas una cerradura inteligente con la manija PUSHPULL
                                Si buscas una cerradura inteligente con la manija PUSHPULL
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="banner-image" src="../../../assets/images/9.png" width = "450" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1 text-success">HIONE+ <b>SECUNDARIO</b></h1>
                            <h3 class="h2">Fortalece la seguridad para tu hogar y para tu familia. </h3>
                            <p>
                                Si buscas una cerradura inteligente con la manija PUSHPULL
                                Si buscas una cerradura inteligente con la manija PUSHPULL
                                Si buscas una cerradura inteligente con la manija PUSHPULL
                                Si buscas una cerradura inteligente con la manija PUSHPULL
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#carousel-banner" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#carousel-banner" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
  </div>

  <section id="features" class="features_area pt-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-25">
                    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Cerradura Inteligente HIONE+</h4>
                        <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Conoce la Cerradura Digital Push-Pull con Bluetooth, Huella, Tarjeta y Contraseña HIONE+, 
                            una gran Cerradura Inteligente con sistema de apertura fácil que te cautivará con su espectacular diseño.</p>
                </div> 
            </div>
        </div> 

    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7">
            <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                <i class="lni lni-shield"></i>
                <h4 class="features_title">Seguridad</h4>
                <p>Gracias al sistema de alarma que te ayuda prevenir de algún intruso o robo</p>
            </div> 
        </div>

    <div class="col-lg-4 col-md-7">
        <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
            <i class="lni lni-certificate"></i>
            <h4 class="features_title">Calidad</h4>
            <p>Siempre estamos comprometiendonos con nuestro cliente a ofrecer la mejor calidad</p>
        </div> 
    </div>

    <div class="col-lg-4 col-md-7">
        <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">
            <i class="lni lni-bolt"></i>
            <h4 class="features_title">Comodidad</h4>
            <p>Ya no es necesario cargar el juego de las llaves, ahora tu eres la llave</p>
        </div> 
    </div>
    </div> 
    </div> 
    </section>
    
    <section id="about" class="pt-130">
        <div class="about_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about_content pt-120 pb-130">
                            <div class="section_title pb">
                                <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Controla el acceso de tu hogar</h4>
                                <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Activa la función Bluetooth para abrir la Cerradura Inteligente desde tu smartphone a varios 
                                    metros de distancia de la puerta. 
                                    Recibe notificaciones push de las entradas a tu hogar vía Bluetooth con la App HIONE+ (iOS y Android).</p>
                                <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">Descubre todos los funcionamientos que te permite hacer con nuestra cerradura
                                    inteligente HIONE+ via aplicación.
                                </p>
                            </div> 
   
    <a href="#" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.7s"> <i class="lni lni-android">  Android</i></a><br>
    <a href="#" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.7s"><i class="lni lni-apple">   iPhone</i></a>

                     </div> 
                </div>
            </div> 
        </div> 
    <div class="about_image bg_cover wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s" style="background-image: url(../../../assets/images/app.webp)">
        <div class="image_content">
            <h4 class="experience"><span>H</span>IONE+</h4>
        </div>
    </div> 
    </div>
    </section>
    
    
    <section id="services" class="features_area pt-120">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-6">
    <div class="section_title text-center pb-25">
    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Funcionamiento de la aplicación</h4>
    </div> 
    </div>
    </div> 
    <div class="row">
    <div class="col-lg-4 col-md-6">
    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
    <i class="lni lni-mobile"></i>
    <h4 class="features_title">Control del hogar</h4>
    <p>Ahora es posible manipular la puerta desde cualquier lugar donde haya la conexión del internet</p>
    </div> 
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
    <i class="lni lni-users"></i>
    <h4 class="features_title">Administración del usuario</h4>
    <p>Otorga el acceso a los miembros de la familia o a los invitados frecuentes, se puede registrar hasta 100 usuarios</p>
    </div> 
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
    <i class="lni lni-timer"></i>
    <h4 class="features_title">Acceso Temporal</h4>
    <p>Invita a la señora de aseo y otorga el acceso por un periodo de tiempo</p>
    </div> 
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
    <i class="lni lni-eraser"></i>
    <h4 class="features_title">Contraseña de solo uso</h4>
    <p>No es necesario enseñarle la contraseña maestra, crea una contraseña que sirve solo por una vez</p>
    </div> 
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
    <i class="lni lni-write"></i>
    <h4 class="features_title">Historial</h4>
    <p>Es posible ver el historial de quién entró, a qué hora entró, entonces es muy seguro</p>
    </div> 
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
    <i class="lni lni-rss-feed"></i>
    <h4 class="features_title">Airbnb</h4>
    <p>Ya no es necesario entregar las llaves físicamente ya que se puede cambiar la contraseña desde lejos.</p>
    </div> 
    </div>
    </div> 
    </div> 
    </section>

    <section id="about" class="pt-130">
        <div class="about_area">
        <div class="container">
        <div class="row">
        <div class="col-lg-6">
        <div class="about_content pt-120 pb-130">
        <div class="section_title pb">
        <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Acerca de nosotros</h4>
        <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">HIONE + ha ocupado su lugar como líder en el mercado de cerradura inteligente para las puertas, en base a su conocimiento acumulado y su tecnología avanzada desde su creación en el año 2004.</p>
        <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">Le agradecemos a nuestros clientes, ya estamos situados en varios continentes y paises.
        </p>
        </div> 
        <a routerLink="nosotros" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.7s">Mas Información</a>
    </div> 
    </div>
    </div> 
    </div> 
    <div class="about_image bg_cover wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s" style="background-image: url(../../../assets/images/mapa.png)">
    <div class="image_content">
    <h4 class="experience"><span>20</span> Años de experiencia</h4>
    </div>
    </div> 
    </div>
    </section>